@model InsurancePolicyFormViewModel

@{
    ViewData["Title"] = "Edit policy";    
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto">
            <h2 class="h3 mb-4 page-title">@ViewData["Title"]</h2>
            <partial name="_PolicyInsuranceFormPartial" model="Model" view-data="ViewData" />
        </div>
    </div>
</div>
